#java specific

*.class

#netbeans ignore personal stuff 

FileSecret/nbproject/private/
FileSecret/dist/
Hasher/nbproject/private/
Hasher/dist/

## generic files to ignore
*~

*.lock

*.DS_Store

*.swp

*.out